Source: ksm
Maintainer: Flip Hess
Section: misc
Priority: extra
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7)

Package: ksm
Architecture: all
Description: Enable kernel shared memory for KVM on debian or ubuntu
 Package with init script for enabling kernel shared memory
